<p class="alert alert-primary">Listado de paquetes</p>

<div class="row">
    <div class="col-md-3">
        <input class="form-control mb-2" [(ngModel)]="campobuscado" name="campobuscado" placeholder="Ingrese una Provincia"/>        
    </div>
    <div class="col-md-9">
        <button (click)="Buscar()" class="btn btn-primary">Buscar</button>
        <button (click)="Entregado()" class="btn btn-success">Paquetes entregados</button>
        <button (click)="NoEntregado()" class="btn btn-secondary">Paquetes no entregados</button>
        <!--<button (click)="Crear()"class="btn btn-info">Crear</button>-->
        <button [routerLink]='["/paquetes-crear"]' class="btn btn-info">Ingresar Paquete</button>
        
    </div>
</div>

<table class="table table-dark">
    <tr>
        <th>ID</th>
        <th>Descripcion</th>
        <th>Destinatario</th>
        <th>Dirección del Destinatario</th>
        <th>Entregado</th>
        <th>Camionero</th>
        <th>Provincia</th>
        <td></td>
    </tr>
    <tr *ngFor="let paquete of listarPaquetes">
        <td>{{paquete.id}}</td>
        <td>{{paquete.descripcion}}</td>
        <td>{{paquete.destinatario}}</td>
        <td>{{paquete.direccionDestinatario}}</td>
        <td>{{paquete.entregado}}</td>
        <td>{{paquete.camionero.nombre + " " + paquete.camionero.apellido }}</td>
        <td>{{paquete.provincia.nombre}}</td> 
        <td>
            <button class="btn btn-danger" (click)="borrar(paquete.id)">Borrar</button>
           <!-- <button class="btn btn-warning" (click)="Modificar(paquete.id)">Modificar</button>-->
            <button class="btn btn-warning" [routerLink]='["/paquetes-editar/"+ paquete.id]'>Editar</button>
        </td>
    </tr>
</table>
